<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <variables>
    <variable name="logPath" value="C:\Micro Focus Content Manager\ContentServerWorkPath\logs" />
  </variables>

  <targets>
    <target xsi:type="File" name="logfile"
            fileName="${var:logPath}/log-file.txt"
            archiveFileName="${var:logPath}/log-file_{#}.txt"
            archiveNumbering="Sequence"
            archiveAboveSize="2097152"
            maxArchiveFiles="5"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
  
</nlog>